#menu {
	background-color: rgb(66,103,178);
	color: white;
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	margin: 0;
	border: solid rgb(19,55,131) 1px;
	font-size: 0.9em;
	z-index: 1;
}

.login-form .ui-inputfield {
	padding: 5px;
	margin-right: 10px;
}

.search-bar {
	padding: 5px;
}

#menu-content {
	padding-top: 10px;
	margin-left: 15%;
	width: 70%;
	min-width: 870px;
}

.search-form {
	width: 40%;
	min-width: 100px;
	display: inline-block;
}

.menu-search {
	margin: 0;
	width: 85%;
	color: black;
	background-color: white;
	border: 1px solid #ccc;
	border-color: rgba(0, 0, 0, .15);
	box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .10);
}

.search-form tr, tbody{
	display: contents;
}

.search-form td {
	padding: 5px 0px 5px 30px;
	display: block;
}

.search-form td:hover {
	background-color: #ecf0f7;
}

.search-form a {
	display: block;
}

.search-form input {
	width: 85%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.home-button {
	float:left;
	margin-right:20px
}

.white-button.ui-button.ui-state-default {
    background-color: #ffffff;
    color: #222222;
    border-color: #d6d6d6;
    /* with the exported variables from Nova and Luna Themes*/
    border-color: var(--input-border-color, #d6d6d6);
}

.white-button.ui-button.ui-state-default:enabled:hover, 
.white-button.ui-button.ui-state-default:focus {
    background-color: #f2f2f2;
    border-color: #ccc;
    color: #373a3c;
    /* with the exported variables from Nova and Luna Themes*/
    border-color: var(--input-hover-border-color, #ccc);
}

@media only screen and (max-width: 1450px) {
	#menu-content {
		margin-left: 10px;
		margin-right: 10px;
		width: initial;
		min-width: 750px;
	}
	.search-form { width: initial; }
	.search-form input { width: initial; }
	.menu-search { width: 212px; position: absolute; z-index:2}
}

@media only screen and (max-width: 895px) {
	#menu { height: initial; min-width: initial; }
	#menu-content { min-width: initial; margin-bottom: 10px; text-align: center; }
	#menu .right { float: initial; }
	.login-form { margin-top: 5px;}
	.home-button { float: initial; margin: 0; }
	.login-form button { margin-top: 10px; }
}

@media only screen and (max-width: 480px) {
	.login-form .ui-button { display: block; margin: auto; margin-top: 10px; }
}