body {
	background-color: rgb(233,235,238);
	font-family: "Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
	color: #333;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

#page {
	display: grid;
	grid-template-columns: auto 70% auto;
	grid-template-rows: 50px auto;
}

.block {
	background-color: white;
	box-shadow: 0 0 0 1px rgba(0,0,0,.15),0 2px 3px rgba(0,0,0,.2);
	grid-row: 2;
	grid-column: 2;
	margin-bottom: 16px;
	padding: 24px;
	line-height: 1.5;
	min-width: 700px;
}

.block h1 {
	font-weight: 400;
	font-size: 1.4em;
	margin: 0;
}

.block h2 {
	font-size: 1.15em;
	font-weight: 400;
	margin: 0;
}

.block h3 {
	margin: 0;
	font-weight: 400;
	font-size: 1em;
	color: rgba(0,0,0,.6);
}

#personal-infos {
	display: grid;
	grid-template-columns: 70% 30%;
	grid-gap: 10px;	
}

#sub-infos {
	margin: auto;
	font-weight: 600;
}

#sub-infos span:not(.position) {
	font-weight: normal;
}

#content {
	grid-row: 2;
	grid-column: 2;
}

.right {
	float: right;
}

.ui-inputfield {
	padding: 8px;
	box-shadow: none;
}

.ui-inputfield.ui-state-focus {
	box-shadow: none;
}

form h1 {
	margin-bottom: 5px;
	font-size: 36px;
}

form h2 {
	margin-top: 0;
	font-weight: normal;
	font-size: 19px;
}

form h3 {
	font-weight: normal;
	font-size: 19px;
	margin-bottom: 5px;
}

#sign-up-grid {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto auto;
	grid-gap: 10px;
	
}

.col1 {
	grid-column: 1;
}

.col2 {
	grid-column: 2;
}

.cols13 {
	grid-column: 1 / 3;
}

.row1 {
	grid-row: 1;
}

.row2 {
	grid-row: 2;
}

.row3 {
	grid-row: 3;
}

.sign-up {
	margin-top: 20px;
}



.search-result {
	box-shadow: 0 0 0 1px rgba(0,0,0,.15),0 2px 3px rgba(0,0,0,.2);
	background-color: white;
}

.result {
	padding-left: 80px;
	padding-top: 25px;
}

.result div {
	padding-top: 12px;
	padding-bottom: 16px;
	border-bottom: 1px solid rgba(0,0,0,.15);
}

.result h1 {
	font-weight: 600;
	font-size: 1em;
	margin: 0;
	line-height: 1.5;
	color: #0073b1;
}

.ui-widget-content a {
	color: #0073b1;
}

.ui-widget-content a:hover {
	text-decoration: underline;
}

.result h2 {
	font-size: 0.9em;
	margin: 0;
	font-weight: normal;
	color: rgba(0,0,0,.9);
}

.result p {
	margin: 0;
	font-size: 0.8em;
	color: rgba(0,0,0,.6);
}

.icon-profile {
	width: 20px;
	float: right;
	cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}